[submodule "MonoGame"]
	path = MonoGame
url=https://github.com/lordnedox/MonoGame.git
	branch = develop

[submodule "tools/ouya"]

	path = tools/ouya

	url = https://github.com/slygamer/ouya-csharp.git
